/* input crypt */
input-crypt {
	display: block;
	width: 100%;
	padding: 2rem;
}
input-crypt input,
input-crypt textarea {
	color: var(--fg);
	background-color: transparent;
	border: 1rem solid var(--text);
}
input-crypt input {
	width: 100%;
	max-width: 30rem;
	padding: 1rem;
	display: block;
	font-size: 1em;
}
input-crypt textarea {
	width: 100%;
	padding: 1rem;
	background-color
}
