/* remote storage (rs) user widget */
rs-widget-status {
	position: fixed;
	top: 0;
	right: 0;
	visibility: hidden;
}

rs-widget-status[connected="true"] {
	visibility: visible;
}
rs-widget-status a {
	color: var(--link);
	padding: 0.5em;
	padding: 0.5em 1em;
	display: inline-block;
	text-decoration: none;
}

/* do not offer these providers for remote storage */
.rs-choose-dropbox,
.rs-choose-googledrive {
	display: none !important;
}
