/* global variables */
:root {
	--bg: black;
	--fg: white;
	--text: green;
	--link: purple;
	--log: red;
	--fs: 20px;
}

/* box sizing model */
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

/* layout  */
html,
body,
rtc-focus,
app-router {
	height: 100%;
	width: 100%;
}

html {
	font-size: var(--fs);
	background-color: var(--bg);
	color: var(--text);
}
body {
	margin: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

details summary {
	cursor: pointer;
}
